@import url("https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&display=swap");
@import "tailwindcss";
html,
body, * {
  cursor: none !important;
}

@keyframes pulse {
  0%, 100% { opacity: 0.6; }
  50% { opacity: 0.8; }
}

#root {
  background-color: black;
}

@theme {
  --font-family-mozilla-headline: "Mozilla Headline", sans-serif;
}
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #0f0f0f;
}

*::-webkit-scrollbar-thumb {
  background-color: #14b8a6; /* teal-500 */
  border-radius: 6px;
  border: 2px solid #0f0f0f;
  transition: background-color 0.2s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #f87171 !important; /* red-400 */
}

/* Firefox (no hover support) */
* {
  scrollbar-width: thin;
  scrollbar-color: #14b8a6 #0f0f0f;
}

@keyframes gloss {
  0% {
    transform: translateX(-100%) skewX(-12deg);
  }
  100% {
    transform: translateX(200%) skewX(-12deg);
  }
}

.animate-gloss {
  animation: gloss 7s infinite linear;
}

@keyframes flicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    opacity: 1;
  }
  20%, 22%, 24%, 55% {
    opacity: 0.8;
  }
}

@keyframes crtFlicker {
  0%, 100% { opacity: 0.95; }
  50% { opacity: 1; }
}
.crt-flicker {
  animation: crtFlicker 2s infinite ease-in-out;
}  


/* Define a custom property to hold the gradient angle */
@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes spin-uniform {
  to {
    --angle: 360deg;
  }
}

/* A smooth uniform border spin utility */
@layer utilities {
  .border-animate-smooth {
    background: conic-gradient(
      from var(--angle),
      #00f5ff 0deg,
      #021b18 120deg,
      #00f5ff 240deg
      /* #ff00c8 360deg */
    );
    animation: spin-uniform 3s linear infinite; /* linear ensures uniform motion */
    @apply relative overflow-hidden rounded-xl p-[2px];
  }
}